.coming-soon-page-message {
  position: absolute;
  text-shadow: 2px 2px #ff0000;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 130px;

  @screen md {
    top: 130px;
    left: 47%;
  }

  @screen xl {
    left: 47%;
    top: 155px;
  }
}
