@use "./vendors/tailwind";
@use "./vendors/splide";
@use "./global/variables";

@use "./global/fonts";

@use "./global/global";

@use "./pages/nft";
@use "./pages/ecom";
@use "./pages/index";
@use "./pages/about";

